body {
    background-color: lightsalmon;
    padding: 0px;
    margin-top: 0px;
    margin-left: 10vw;
    margin-right: 10vw;
}

#showTime {
    font-family: 'DotGothic16', sans-serif;
    font-size: 100pt;
    background-color: black;
    color: green;
}

.container {
    /* Sets a grid 12 columns wide 6vw each inside 14vw margins (12x6=72vw, 2x14=28vw, 100vw total) */
    display: grid;
    height: 100%;
    grid-template-columns: repeat(12, 6vw);
    gap: 0px;
}

.header {
    text-align: center;
    grid-column-start: auto;
    grid-column-end: span 16;
}

.clockBox {
    grid-column-start: 2;
    grid-column-end: span 10;
    height: 30vh;
    background-color: brown;
    z-index: 0;
}

.display {
    text-align: center;
    grid-column-start: 3;
    grid-column-end: span 4;
    height: 10vh;
    background-color: black;
    color: green;
    font-size: 40pt;
}

.leftSidePadding {
    grid-column-start: 1;
    grid-column-end: 4;
    /* grid-row-start: 1;
    grid-row-end: 20; */
} 

.rightSidePadding {
    grid-column-start: 18;
    grid-column-end: 21;
    /* grid-row-start: 1;
    grid-row-end: 20; */
} 

.topPadding {
    grid-column-start: 4;
    grid-column-end: 18;
    /* grid-row-start: 1;
    grid-row-end: 5; */
}

.clockTop {
    grid-column-start: 4;
    grid-column-end: 18;
    background-color: silver;
}

.clockBorder {
    grid-column-start: auto span 1;
    background-color: silver;
}

