body {
    background-color: lightsalmon;
    height: 100%;
    padding: 0px;
    margin-top: 0px;
    /* margin-left: 10vw;
    margin-right: 10vw; */
}

#showTime {
    font-family: 'DotGothic16', sans-serif;
    font-size: 10vw;
    background-color: rgba(0,0,0,0.60);
    color: green;
    width: 40vw;
    text-align: center;
}

#showDate {
    font-family: 'DotGothic16', sans-serif;
    font-size: 5vw;
    background-color: rgba(0,0,0,0.60);
    color: green;
    width: 40vw;
    text-align: center;
}

#alarmSet {
    font-family: 'DotGothic16', sans-serif;
    font-size: 3vw;
    background-color: rgba(0,0,0,0.60);
    color: green;
    width: 40vw;
    text-align: center;
}

#showAlarm {
    font-family: 'DotGothic16', sans-serif;
    font-size: 3vw;
    background-color: rgba(0,0,0,0.60);
    color: green;
    width: 40vw;
    text-align: center;
}

#alarmToggle {
    font-family: 'DotGothic16', sans-serif;
    font-size: 1vw;
    background-color: rgba(0,0,0,0.60);
    color: green;
    width: 40vw;
    text-align: center;
}

#button {
    font-family: 'DotGothic16', sans-serif;
    font-size: 1vw;
    background-color: black;
    color: green;
    width: auto;
    text-align: center;
}

.bg {
    background-image: url("/img/oldPCs.jpg");
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/* Toggle Switch Styling from W3 Schools */
/* https://www.w3schools.com/howto/howto_css_switch.asp */
/* with some minor alterations */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: green;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }




/* Grid Display - Needs Work */

.container {
    /* Sets a grid 12 columns wide 6vw each inside 14vw margins (12x6=72vw, 2x14=28vw, 100vw total) */
    display: grid;
    height: 100%;
    grid-template-columns: repeat(12, 6vw);
    gap: 0px;
}

.header {
    text-align: center;
    grid-column-start: auto;
    grid-column-end: span 16;
}

.clockBox {
    grid-column-start: 2;
    grid-column-end: span 10;
    height: 30vh;
    background-color: brown;
    z-index: 0;
}

.display {
    text-align: center;
    grid-column-start: 3;
    grid-column-end: span 4;
    height: 10vh;
    background-color: black;
    color: green;
    font-size: 40pt;
}

.leftSidePadding {
    grid-column-start: 1;
    grid-column-end: 4;
    /* grid-row-start: 1;
    grid-row-end: 20; */
} 

.rightSidePadding {
    grid-column-start: 18;
    grid-column-end: 21;
    /* grid-row-start: 1;
    grid-row-end: 20; */
} 

.topPadding {
    grid-column-start: 4;
    grid-column-end: 18;
    /* grid-row-start: 1;
    grid-row-end: 5; */
}

.clockTop {
    grid-column-start: 4;
    grid-column-end: 18;
    background-color: silver;
}

.clockBorder {
    grid-column-start: auto span 1;
    background-color: silver;
}

